<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "tufte.css" | absURL }}" />
  </head>
  <body>
    <article>
      <section>
        <h2><a href="{{"/" | absURL}}">{{ .Site.Title }}</a></h2>
        <br />
      </section>

      <section>
        {{ block "main" . }}

        {{ end }}
      </section>
      <section>
        {{ block "footer" . }}

        {{ end }}
      </section>
    </article>

  </body>
</html>
